<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <link rel="stylesheet" href="../../quora/styles/style.css"> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quora/style.css' %}">
</head>

<body id="LoginForm">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="vertical">
                    <h1></h1>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {% block left-side %}
                {% endblock %}
            </div>
            <div class="col-8">
                <div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% block main %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-2">
                {% block right-side %}
                {% endblock %}
            </div>
        </div>
</body>

</html>